.side-bar
  .header
    .header__zone
      .header__zone__name
        .h1 Ryo
      .header__zone__icon
        .header__zone__icon__left-icon
          = link_to "#" do
            = icon("far", "edit", class: "edit-btn")
        .header__zone__icon__right-icon
          = link_to "#" do
            = icon("fas", "cog", class: "cog-btn")

  .groups
    .groups__name
      techcamp
    .groups__message
      No Message!!
    .groups__name
      techcamp
    .groups__message
      まだメッセージはありません
    .groups__name
      techcamp
    .groups__message
      メッセージが届きました!!